---
layout: default
disqus: false
archive: false
post_class: post-template
---

<div class="entry-header">

<!-- Author & Date  Box -->
    
</div>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
{% include adsense-under-header.html %}
{% endif %}

<div class="row">
<div class="col-md-6 col-sm-12 text-center text-lg-left" style="padding-bottom:5px;">
<!-- JuicyAds v3.1 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="989810" data-width="300" data-height="112"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':989810});</script>
<!--JuicyAds END-->
</div>
<div class="col-md-6 col-sm-12 text-center text-lg-right" style="padding-bottom:5px;">    
<!-- JuicyAds v3.1 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="989810" data-width="300" data-height="112"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':989810});</script>
<!--JuicyAds END-->
</div>
</div>
<!-- Content -->
{% include article.html %}

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
<strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Author Box if enabled from _config.yml -->
{% include author-box.html %}

<br />
<div class="row">
<div class="col-md-6 col-sm-12 text-center text-lg-left" style="padding-bottom:5px;">
<!-- JuicyAds v3.1 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="989951" data-width="300" data-height="62"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':989951});</script>
<!--JuicyAds END-->
</div>
<div class="col-md-6 col-sm-12 text-center text-lg-right" style="padding-bottom:5px;">
<!-- JuicyAds v3.1 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="989951" data-width="300" data-height="62"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':989951});</script>
<!--JuicyAds END-->
</div>
</div>

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Post Title -->
<h2 class="posttitle">{{ page.title }}</h2>

<br />
<!-- Share -->
{% include share.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}

<!-- Related Post -->
{% include related-posts.html %}

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Review",
"itemReviewed": {
"@type": "Thing",
"name": "{{ page.title }}"
},
"author": {
"@type": "Person",
"name": "{{ author.display_name }}"
},
"datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
"reviewRating": {
"@type": "Rating",
"ratingValue": "{{ page.rating }}",
"bestRating": "5"
}
}
</script>
{% endif %}
